@tailwind base;
@tailwind components;
@tailwind utilities;

body {
@apply bg-gray-900 text-white;
  }

  @keyframes flashGreen {
    0% {
      color: #10b981;
    }
    100% {
      color: #ffffff;
    }
  }
  
  @keyframes flashRed {
    0% {
      color: #ef4444;
    }
    100% {
      color: #ffffff;
    }
  }
  
  .flash-green {
    animation: flashGreen 1s ease-in-out !important;
  }
  
  .flash-red {
    animation: flashRed 1s ease-in-out !important;
  }